<div class="card" *ngFor="let file of files | async as list">
    <div class="row align-items-center">
      <div class="col-2 d-flex">
        <fa-icon [icon]="['far', 'file']" class="mr-2"></fa-icon>
        <label class="mr-2">{{ file.title }}:</label>
      </div>
      <div class="col-4">
        <app-document-preview [documentUrl]="fileUrl + file.path"></app-document-preview>
      </div>
      <div class="col-6 text-right">
        <div class="form-group d-inline-block mr-3">
          <input type="text" [(ngModel)]="file.comment" name="comment" id="comment-{{file.title}}" class="form-control" placeholder="Enter Comment">
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-3" (click)="onAddComment(file.title, file.comment,personId)">Add Comment</button>
      </div>
    </div>
  </div>